h1{
    padding-top: 70px;
    text-align: center;
}
h3{
    text-align: center;
}

.btn{
    padding: 10px 40px;
    border-radius: 20px;
}
.bai1{
    background-image:  url(../img/6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 600px;
}

.bai2{
    background-image:  url(../img/6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 600px; 
}

.bai2 input{
    margin-right: 10px;
}

.bai3{
    background-image:  url(../img/6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 600px; 
}

.bai3 input{
    margin-left: 250px;
}

.bai4{
    background-image:  url(../img/6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 300px; 
}

.bai4 h1{
    padding-top: 10px;
}

ul{
    margin-left: 450px;
}

ul li{
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}